page-brand-add {
    .image{
        text-align: center;
        padding: 25px 0px;

        .img-box{
            width: 100px;
            height: 100px;
            max-width: 40%;
            margin: auto;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: color($colors, dark);
        }
    }

    ion-badge{
        margin-top: 2px;
    }
}
