ad-item {
    .item-block{
        padding: 5px;
        margin-bottom: 3px;
        border-bottom: 1px solid color($colors, light);

        .image{
            text-align: center;
            img{
                border-radius: 50%;
                width: 80%;
                margin: auto;
            }
        }

        .name{
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .category{
            font-size: 1rem;
            margin-bottom: 5px;
            color: #999;
        }
        .location{
            font-size: .9rem;
            color: color($colors, primary);
        }

        &.sponsored{
            border-left: 4px solid red;
            padding-left: -4px;

            ion-badge{
                float: right;
                font-size: .9rem;
                text-transform: uppercase;
            }
        }
    }
    .extra{
        // background-color: silver;
        font-size: .9rem;
        .label{
            color: color($colors, primary);
        }
        .value{
            color: color($colors, dark);
            font-size: 1rem;
            font-weight: bold;
        }
    }
}
