page-notification {
    .notify-box{
        padding: 10px 16px;
        border-bottom: 1px solid #ccc;

        .icon-box{
            button{
                color: white;
                margin: 0px;
                box-shadow: none;
            }
        }

        .details{
            // overflow: hidden;
            // text-overflow: ellipsis;
            .subject{
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

            }
            .time{
                font-size: 1.3rem;
                color: #999;
                margin-top: 15px;
            }
        }
    }
    .unreadBar{
        border-left: 5px solid color($colors, danger);
        border-radius: 0px;
    }
    .blueColor{
        background-color: #00b0ff;
    }
    .redColor{
        background-color: #4e342e;
    }
    .yellowColor{
        background-color: #ffea00;
    }
    .greenColor{
        background-color: #7c4dff;
    }
    .winColor{
        background-color: darkgoldenrod;
    }
}
