<ion-header no-border>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title  *ngIf="!showSearch" >Brands</ion-title>
        <ion-buttons right  *ngIf="!showSearch" >
            <button ion-button icon-only (click)="openSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-searchbar *ngIf="showSearch" color="primary" mode="ios" (input)="getItems($event)" [showCancelButton]="true" (ionCancel)="cancelSearch($event)" [animated]="true" placeholder="Search Brands" #searchbar></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="top-content"></div>

    <div class="main-content">
        <button ion-item *ngFor="let brand of brands | filtersearch:filterargs" class="just-clickable brand-items" (click)="gotoBrand(brand)">
            <brand-item [brand]="brand"></brand-item>
        </button>
    </div>

</ion-content>
