<ion-header no-border>

    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button menuToggle icon-only>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Ads</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="openSearch($event)">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="primary" padding-horizontal>
        <ion-segment mode="ios" [(ngModel)]="ad_type" color="dark">
            <ion-segment-button value="ads">
                Gratis Ads
            </ion-segment-button>
            <ion-segment-button value="promos">
                Promo Ads
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content>
    <div class="top-content"></div>

    <div class="main-content">
        <div [ngSwitch]="ad_type">

            <div *ngSwitchCase="'ads'">
                <div text-center *ngIf="loadingAds">
                    <ion-spinner></ion-spinner>
                </div>
                <div *ngFor="let livead of liveads" (click)="gotoAd(livead.ad, livead.question, livead)">
                    <ad-item [ad]="livead.ad" [sponsored]="livead.sponsored" [pw]="livead.ad.possible_winners" [incentive]="livead.ad.incentive" [worth]="livead.ad.incentive_amt"></ad-item>
                </div>

                <div class="long-header" text-center *ngIf="(liveads.length < 1) && (!loadingAds)">Stay tuned to view Brands with incentives for you to win</div>
            </div>

            <div *ngSwitchCase="'promos'">
                <div text-center *ngIf="loadingPromos">
                    <ion-spinner></ion-spinner>
                </div>
                <div *ngFor="let livepromo of livepromos" (click)="gotoPromo(livepromo.promo)">
                    <promo-item [promo]="livepromo.promo" [sponsored]="livepromo.sponsored"></promo-item>
                </div>

                <div class="long-header" text-center *ngIf="(livepromos.length < 1) && (!loadingPromos)">NO PROMOTIONS AT THE MOMENT</div>
            </div>

        </div>
    </div>
</ion-content>
